* {
	box-sizing: border-box;
	font-family: Helvetica;
	font-weight: bold;
}

nav {
	overflow: auto;
	background-color: #94C9FF;
}

nav li {
	list-style: none;
	float: left;
	margin-left: 50px;
	margin-bottom: 20px;
}